*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* overflow: hidden; */
}
#wraper{
    width: 95%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
form{
    width: 50%;
    padding: 15px;
    margin: 0 auto;background-color: rgb(245, 240, 240);
}
form input,button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(212, 207, 207);
    outline: 1px solid rgb(209, 209, 206);
}
input{
    width: 80%;
}
button{
    margin-left: -4px;
}
button:hover{
    background-color: cadetblue;
    transition: all .5s;
}
#items-containers{
    width: 90%;
    margin: 10px auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 32% 32% 32%;
    word-wrap:break-word;
    grid-template-rows: auto;
}
.item{
    background-color: gray;
    margin: 10px;
    padding: 12px;
    height: auto;
}


/* spinner */
#spinner{
    color: red;
    padding: 15px;
    display: none;
}

/* data not found  */
#data-not-found{
    background-color: red;
    width: 40%;
    padding: 50px;
    border-radius: 50%;
    margin: 40px auto;
    font-size:40px;
    display: none;
}